In [ ]:
# Check if running in Google Colab
if 'google.colab' in str(get_ipython()):
    from google.colab import drive
    drive.mount('/content/drive')

    # Define the base path for your data directory for Colab
    basePath = '/content/drive/MyDrive'

else:
    # Running locally or in a different environment
    basePath = '..'

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_grouped = pd.read_csv(f"{basePath}/data/processed/grouped_data1.csv")
df_grouped

,COUNTRY,STATION,STATION_NAME,DATE,LATITUDE,LONGITUDE,ELEVATION,CDSD,CLDD,DP01,...,FZF0,FZF5,FZF6,HDSD,HDSD_ATTRIBUTES,HTDD,PRCP,TAVG,TMAX,TMIN
0,Tunisia,TS000060765,"GABES, TS",1887,33.880,10.100,4.0,NaN,NaN,30.0,...,NaN,-0.3,-2.4,NaN,NaN,NaN,134.7,NaN,NaN,12.2
1,Tunisia,TS000060765,"GABES, TS",1889,33.880,10.100,4.0,NaN,NaN,NaN,...,NaN,-0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.7
2,Tunisia,TS000060765,"GABES, TS",1907,33.880,10.100,4.0,NaN,NaN,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,109.0,NaN,NaN,NaN
3,Tunisia,TS000060765,"GABES, TS",1908,33.880,10.100,4.0,NaN,NaN,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,73.9,NaN,NaN,NaN
4,Tunisia,TS000060765,"GABES, TS",1910,33.880,10.100,4.0,NaN,NaN,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,147.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51134,Senegal,SG000061687,"TAMBACOUNDA, SG",1981,13.767,-13.683,50.0,NaN,NaN,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,673.5,NaN,35.9,NaN
51135,Senegal,SG000061687,"TAMBACOUNDA, SG",1988,13.767,-13.683,50.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.4,NaN
51136,Senegal,SG000061687,"TAMBACOUNDA, SG",1990,13.767,-13.683,50.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.7,NaN
51137,Senegal,SG000061687,"TAMBACOUNDA, SG",1994,13.767,-13.683,50.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.9,NaN
51138,Senegal,SG000061687,"TAMBACOUNDA, SG",1995,13.767,-13.683,50.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.4,NaN

In [ ]:
#Checking if how many countries
df_grouped['COUNTRY'].nunique()

150

In [ ]:
# Get the set of unique years for each country
years_by_country = df_grouped.groupby('COUNTRY')['DATE'].apply(set)

common_years = set.intersection(*years_by_country)

common_years_list = sorted(list(common_years))

print("Years present in all countries:")
print(common_years_list)

if common_years_list:
    oldest_common_year = common_years_list[0]
    print(f"\nThe oldest year present in all countries is: {oldest_common_year}")
else:
    print("\nThere are no years that are present in all countries.")

Years present in all countries:
[]

There are no years that are present in all countries.

In [ ]:
#Now since that no year that is present in all of the countries...let's see if 90% countries have the common date

In [ ]:
total_countries = df_grouped['COUNTRY'].nunique()

country_counts_by_year = df_grouped.groupby('DATE')['COUNTRY'].nunique()

percentage_countries_by_year = (country_counts_by_year / total_countries) * 100

# Define the threshold (90%)
percentage_threshold = 90

# Find the years where the percentage of countries is above the threshold
years_with_sufficient_data = percentage_countries_by_year[percentage_countries_by_year >= percentage_threshold].index.tolist()

print(f"Years present in at least {percentage_threshold}% of countries:")
print(years_with_sufficient_data)

Years present in at least 90% of countries:
[]

In [ ]:
# Filter the grouped DataFrame to keep only the countries that have data in any of the years with sufficient data
if years_with_sufficient_data:
    countries_to_keep = df_grouped[df_grouped['DATE'].isin(years_with_sufficient_data)]['COUNTRY'].unique()
    df_filtered = df_grouped[df_grouped['COUNTRY'].isin(countries_to_keep)].copy()
    print("\nFiltered DataFrame containing countries with data in the identified common years:")
    display(df_filtered)
    print(f"\nNumber of countries in the filtered DataFrame: {df_filtered['COUNTRY'].nunique()}")
else:
    df_filtered = pd.DataFrame() 
    print("\nNo years found that are present in at least 90% of countries. The filtered DataFrame is empty.")

No years found that are present in at least 90% of countries. The filtered DataFrame is empty.