In [1]:
# Check if running in Google Colab
if 'google.colab' in str(get_ipython()):
    from google.colab import drive
    drive.mount('/content/drive')

    # Define the base path for your data directory for Colab
    basePath = '/content/drive/MyDrive'

else:
    # Running locally or in a different environment
    basePath = '..'

In [2]:
import numpy as np
import pandas as pd
from IPython.display import display

In [3]:
file_path = f'data/processed/cleaned_data1.csv'
df = pd.read_csv(f'{basePath}/{file_path}')

In [4]:
# Define columns to group by
group_cols = ['COUNTRY', 'DATE']

# Identify numeric columns to aggregate (excluding the grouping columns)
numeric_cols_for_agg = df.select_dtypes(include=np.number).columns.tolist()
numeric_cols_for_agg = [col for col in numeric_cols_for_agg if col not in group_cols]

# Group by COUNTRY and DATE and calculate the mean of numeric columns
df_grouped = df.groupby(group_cols)[numeric_cols_for_agg].mean().reset_index()

print("Grouped data by Country and Year (re-calculated):")
display(df_grouped.head())

Grouped data by Country and Year (re-calculated):

,COUNTRY,DATE,LATITUDE,LONGITUDE,ELEVATION,CDSD,CLDD,DP01,DP10,DT00,...,FZF0,FZF5,FZF6,HDSD,HDSD_ATTRIBUTES,HTDD,PRCP,TAVG,TMAX,TMIN
0,Albania,1981,41.4150,19.7210,38.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.8,NaN
1,Albania,2016,41.4150,19.7210,38.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.1,NaN
2,Algeria,1892,30.5667,2.8667,397.0,NaN,NaN,15.0,8.0,0.0,...,-0.5,-1.0,NaN,NaN,NaN,NaN,65.7,NaN,NaN,13.9
3,Algeria,1893,30.5667,2.8667,397.0,NaN,NaN,7.0,4.0,0.0,...,0.0,0.0,-4.0,NaN,NaN,NaN,25.4,NaN,NaN,13.4
4,Algeria,1895,30.5667,2.8667,397.0,NaN,NaN,6.0,0.0,0.0,...,NaN,0.0,-2.6,NaN,NaN,NaN,6.6,NaN,NaN,13.7

In [ ]:
# Define the time periods (using the same periods as before)
start_year_period1 = 2000
end_year_period1 = 2012
start_year_period2 = 2013
end_year_period2 = 2025 

# Filter df_grouped for the two time periods
df_period1 = df_grouped[(df_grouped['DATE'] >= start_year_period1) & (df_grouped['DATE'] <= end_year_period1)].copy()

df_period2 = df_grouped[(df_grouped['DATE'] >= start_year_period2) & (df_grouped['DATE'] <= end_year_period2)].copy()

In [ ]:
group_cols = ['COUNTRY', 'DATE']

# We need to be careful about which columns to include. Let's exclude the ones we know are identifiers or attributes.
exclude_cols = group_cols + ['STATION', 'STATION_NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION']

attribute_cols = [col for col in df_grouped.columns if '_ATTRIBUTES' in col]
exclude_cols.extend(attribute_cols)

numeric_cols_to_analyze = [col for col in df_grouped.select_dtypes(include=np.number).columns if col not in exclude_cols]

In [ ]:
# Dictionary to store the change Dataframes (clearing previous results if any)
change_dataframes = {}

for col in numeric_cols_to_analyze:
    print(f"\nCalculating percentage change for: {col}")

    avg_period1 = df_period1.groupby('COUNTRY')[col].mean().reset_index()
    avg_period1.rename(columns={col: f'Avg_{col}_Period1'}, inplace=True)

    avg_period2 = df_period2.groupby('COUNTRY')[col].mean().reset_index()
    avg_period2.rename(columns={col: f'Avg_{col}_Period2'}, inplace=True)

    # Merge the two dataframes on the 'COUNTRY' column
    # Use outer merge to keep all countries from both periods
    change_df = pd.merge(avg_period1, avg_period2, on='COUNTRY', how='outer')

    epsilon = 1e-9
    change_df[f'{col}_Change_Percent'] = ((change_df[f'Avg_{col}_Period2'] - change_df[f'Avg_{col}_Period1']) / (change_df[f'Avg_{col}_Period1'] + epsilon)) * 100

    change_dataframes[f'{col}_change'] = change_df

    print(f"Top 5 countries by percentage change in {col}:")
    display(change_df.sort_values(by=f'{col}_Change_Percent', ascending=False).head())

Calculating percentage change for: CDSD
Top 5 countries by percentage change in CDSD:

,COUNTRY,Avg_CDSD_Period1,Avg_CDSD_Period2,CDSD_Change_Percent
112,Svalbard [Norway],0.000000,0.025000,2.500000e+09
114,Switzerland,0.000000,0.010000,1.000000e+09
56,Ireland,1.200000,2.454545,1.045455e+02
90,Norway,3.932436,7.322222,8.620068e+01
107,Slovakia,53.569231,78.000000,4.560597e+01

Calculating percentage change for: CLDD
Top 5 countries by percentage change in CLDD:

,COUNTRY,Avg_CLDD_Period1,Avg_CLDD_Period2,CLDD_Change_Percent
112,Svalbard [Norway],0.000000,0.025000,2.500000e+09
114,Switzerland,0.000000,0.010000,1.000000e+09
56,Ireland,1.200000,2.454545,1.045455e+02
90,Norway,3.932436,7.322222,8.620068e+01
107,Slovakia,53.569231,78.000000,4.560597e+01

Calculating percentage change for: DP01
Top 5 countries by percentage change in DP01:

,COUNTRY,Avg_DP01_Period1,Avg_DP01_Period2,DP01_Change_Percent
92,Pakistan,10.75,34.071429,216.943522
112,Svalbard [Norway],74.00,117.000000,58.108108
117,Tunisia,68.75,92.166667,34.060606
83,Morocco,37.00,47.875000,29.391892
125,Uruguay,79.00,96.055556,21.589311

Calculating percentage change for: DP10
Top 5 countries by percentage change in DP10:

,COUNTRY,Avg_DP10_Period1,Avg_DP10_Period2,DP10_Change_Percent
92,Pakistan,6.687500,20.785714,210.814419
112,Svalbard [Norway],19.000000,30.000000,57.894737
83,Morocco,13.000000,17.125000,31.730769
57,Israel,1.538462,2.000000,30.000000
117,Tunisia,29.500000,37.583333,27.401130

Calculating percentage change for: DT00
Top 5 countries by percentage change in DT00:

,COUNTRY,Avg_DT00_Period1,Avg_DT00_Period2,DT00_Change_Percent
3,Antarctica,71.680000,148.416667,107.054501
126,Uzbekistan,3.259259,6.111111,87.500000
113,Sweden,5.423077,9.430556,73.896769
48,Greenland [Denmark],77.708333,96.966667,24.782842
20,Canada,90.712228,92.483548,1.952681

Calculating percentage change for: DT32
Top 5 countries by percentage change in DT32:

    COUNTRY  Avg_DT32_Period1  Avg_DT32_Period2  DT32_Change_Percent
53    India             0.000          3.827778         3.827778e+11
15  Bolivia             0.000          0.812500         8.125000e+10
89    Niger             0.000          0.333333         3.333333e+10
34    Egypt             0.200          0.500000         1.500000e+02
22    Chile             8.125         12.750000         5.692308e+01

Calculating percentage change for: DX32
Top 5 countries by percentage change in DX32:

,COUNTRY,Avg_DX32_Period1,Avg_DX32_Period2,DX32_Change_Percent
3,Antarctica,227.211111,303.357143,33.513340
113,Sweden,42.871795,55.458333,29.358553
48,Greenland [Denmark],164.034722,200.700000,22.352144
20,Canada,147.686850,149.084507,0.946365
66,"Korea, South",10.055556,10.111111,0.552486

Calculating percentage change for: DX70
Top 5 countries by percentage change in DX70:

,COUNTRY,Avg_DX70_Period1,Avg_DX70_Period2,DX70_Change_Percent
112,Svalbard [Norway],0.000000,0.166667,1.666667e+10
114,Switzerland,0.076923,0.318182,3.136364e+02
101,Romania,53.350000,102.375000,9.189316e+01
90,Norway,6.854304,10.168056,4.834556e+01
111,Sri Lanka,189.861111,272.250000,4.339429e+01

Calculating percentage change for: DX90
Top 5 countries by percentage change in DX90:

            COUNTRY  Avg_DX90_Period1  Avg_DX90_Period2  DX90_Change_Percent
123  United Kingdom          0.000000          0.075000         7.500000e+09
113          Sweden          0.000000          0.055556         5.555556e+09
85            Nepal          2.000000         13.000000         5.500000e+02
101         Romania          1.533333          7.500000         3.891304e+02
107        Slovakia          0.692308          2.375000         2.430556e+02

Calculating percentage change for: EMNT
Top 5 countries by percentage change in EMNT:

          COUNTRY  Avg_EMNT_Period1  Avg_EMNT_Period2  EMNT_Change_Percent
104  Saudi Arabia          3.412500         18.400000           439.194139
22          Chile          0.275000          1.175000           327.272726
53          India          5.516667          9.854074            78.623699
69          Libya          3.075000          5.000000            62.601626
80         Mexico          8.850000         11.900000            34.463277

Calculating percentage change for: EMXP
Top 5 countries by percentage change in EMXP:

,COUNTRY,Avg_EMXP_Period1,Avg_EMXP_Period2,EMXP_Change_Percent
92,Pakistan,48.950000,107.728571,120.078798
16,Bosnia and Herzegovina,73.250000,108.866667,48.623436
106,Seychelles,136.683333,189.300000,38.495305
64,Kiribati,91.400000,123.800000,35.448578
128,Vietnam,208.044444,279.400000,34.298227

Calculating percentage change for: EMXT
Top 5 countries by percentage change in EMXT:

,COUNTRY,Avg_EMXT_Period1,Avg_EMXT_Period2,EMXT_Change_Percent
101,Romania,24.461667,30.362500,24.122777
111,Sri Lanka,28.977778,31.387500,8.315759
112,Svalbard [Norway],14.961538,16.158333,7.999143
67,Kyrgyzstan,34.453846,36.995000,7.375530
85,Nepal,32.400000,34.600000,6.790123

Calculating percentage change for: FZF0
Top 5 countries by percentage change in FZF0:

         COUNTRY  Avg_FZF0_Period1  Avg_FZF0_Period2  FZF0_Change_Percent
22         Chile         -0.150000         -0.450000           200.000001
3     Antarctica         -2.920000         -5.091667            74.372146
86   Netherlands         -0.930769         -1.383333            48.622590
56       Ireland         -0.700000         -0.933333            33.333333
107     Slovakia         -0.792308         -0.987500            24.635922

Calculating percentage change for: FZF5
Top 5 countries by percentage change in FZF5:

        COUNTRY  Avg_FZF5_Period1  Avg_FZF5_Period2  FZF5_Change_Percent
3    Antarctica         -2.466667         -6.733333           172.972973
107    Slovakia         -0.830769         -1.362500            64.004630
68       Latvia         -0.920000         -1.500000            63.043478
113      Sweden         -0.692308         -1.077778            55.679012
41      Finland         -1.074359         -1.600000            48.926014

Calculating percentage change for: FZF6
Top 5 countries by percentage change in FZF6:

,COUNTRY,Avg_FZF6_Period1,Avg_FZF6_Period2,FZF6_Change_Percent
3,Antarctica,-3.632000,-6.933333,90.895742
124,United States,-3.347512,-3.940194,17.705152
29,Croatia,-3.507692,-3.925000,11.896930
125,Uruguay,-2.575000,-2.860000,11.067961
48,Greenland [Denmark],-3.025000,-3.296667,8.980716

Calculating percentage change for: HDSD
Top 5 countries by percentage change in HDSD:

,COUNTRY,Avg_HDSD_Period1,Avg_HDSD_Period2,HDSD_Change_Percent
33,Denmark,3107.200000,3971.900000,27.828913
101,Romania,5090.345000,6402.000000,25.767507
3,Antarctica,8700.146667,10849.360000,24.703185
113,Sweden,4238.732051,4655.141667,9.823919
48,Greenland [Denmark],8569.389394,9260.668750,8.066845

Calculating percentage change for: HTDD
Top 5 countries by percentage change in HTDD:

,COUNTRY,Avg_HTDD_Period1,Avg_HTDD_Period2,HTDD_Change_Percent
33,Denmark,3107.200000,3971.900000,27.828913
101,Romania,5090.345000,6402.000000,25.767507
3,Antarctica,8700.146667,10849.360000,24.703185
113,Sweden,4238.732051,4655.141667,9.823919
48,Greenland [Denmark],8569.389394,9260.668750,8.066845

Calculating percentage change for: PRCP
Top 5 countries by percentage change in PRCP:

,COUNTRY,Avg_PRCP_Period1,Avg_PRCP_Period2,PRCP_Change_Percent
92,Pakistan,129.262500,519.871429,302.182712
57,Israel,13.415385,20.750000,54.673165
112,Svalbard [Norway],175.000000,243.066667,38.895238
23,China,720.235502,917.533086,27.393482
125,Uruguay,954.950000,1214.700000,27.200377

Calculating percentage change for: TAVG
Top 5 countries by percentage change in TAVG:

,COUNTRY,Avg_TAVG_Period1,Avg_TAVG_Period2,TAVG_Change_Percent
3,Antarctica,-6.538000,-12.133333,85.581727
60,Jan Mayen [Norway],0.653846,1.158333,77.156863
48,Greenland [Denmark],-4.402273,-6.576667,49.392531
41,Finland,3.005128,3.741667,24.509386
7,Austria,5.635897,6.460000,14.622384

Calculating percentage change for: TMAX
Top 5 countries by percentage change in TMAX:

,COUNTRY,Avg_TMAX_Period1,Avg_TMAX_Period2,TMAX_Change_Percent
48,Greenland [Denmark],-0.534722,-2.868333,436.415585
3,Antarctica,-4.220000,-8.771429,107.853758
101,Romania,7.156667,12.762500,78.330228
102,Russia,2.613253,4.263974,63.167259
114,Switzerland,2.161538,2.922727,35.215141

Calculating percentage change for: TMIN
Top 5 countries by percentage change in TMIN:

        COUNTRY  Avg_TMIN_Period1  Avg_TMIN_Period2  TMIN_Change_Percent
118      Turkey          9.726190         16.166667            66.217870
3    Antarctica         -9.624000        -15.925000            65.471737
107    Slovakia          1.569231          2.475000            57.720588
101     Romania          2.465385          3.604545            46.206212
7       Austria          2.115385          2.903333            37.248485

Percentage change dataframes stored in 'change_dataframes' dictionary.

In [8]:
df_grouped.to_csv(f'{basePath}/data/processed/grouped_data2.csv', index=False)

In [9]:
#Note: the change dataframes will be used in th enext file to generate the graphs/charts so saving it

In [10]:
import pickle
import os

# Define the directory to save the file
save_dir = f'{basePath}/data/processed'
os.makedirs(save_dir, exist_ok=True)

# Define the file path
file_path = os.path.join(save_dir, 'change_dataframes.pkl')

# Save the dictionary using pickle
with open(file_path, 'wb') as f:
    pickle.dump(change_dataframes, f)

print(f"change_dataframes dictionary saved to {file_path}")

change_dataframes dictionary saved to ../data/processed/change_dataframes.pkl